s4.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="session_4">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Book">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Title"/>
              <xs:element type="xs:string" name="Author"/>
              <xs:element type="xs:string" name="Theme"/>
              <xs:element type="xs:string" name="Publisher"/>
              <xs:element type="xs:byte" name="ISBN"/>
              <xs:element type="xs:string" name="Price"/>
              <xs:element type="xs:string" name="Edition"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="program">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="comments"/>
              <xs:element type="xs:string" name="code"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="book_another">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="bookname"/>
              <xs:element type="xs:byte" name="no_pages"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>